<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Mono:wght@200;300;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/910fe5b89c.js" crossorigin="anonymous"></script>
    <script async src="https://unlocknyc-analytics.netlify.app/tracker.js" data-ackee-server="https://unlocknyc-analytics.netlify.app" data-ackee-domain-id="d2255a40-e04e-4d2d-aa3a-b1b5da9cf52c" data-ackee-opts='{ "ignoreLocalhost": true, "detailed": true }'></script>
  <style>
  {% include 'styles/about.css' %}
  </style>
  </head>
  <body>
  {% include 'menu.liquid' %}

  <div id="banner">
      <div id="banner-figures">
      </div>
  </div>

  <div id="titles-wrap">
      <h1 class="home-title">
        Unlock NYC
      </h1>
      <h2 class="home-subtitle">
        About Us
      </h2>
  </div>

  <div id="about-page">
    {{ content | safe }}
    <div id="collab-logos">
      <a class="img-link" href="https://neighborstogether.org/" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FNeighborsTogether_logo.png?v=1605548777796" alt="Neighbors Together logo">
      </a>
      <a class="img-link" href="https://communitiesresist.org/" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FCommunitiesResist_Logo.png?v=1605548782492" alt="Communities Resist logo" style="background-color: #1e1e1e; padding: 5px;">
      </a>
      <a class="img-link" href="https://labs.robinhood.org/" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FBlueRidgeLabs_logo.png?v=1605548787537" alt="Blue Ridge Labs logo">
      </a>
      <a class="img-link" href="https://www.awesomefoundation.org/en" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FAwesomeFoundation_logo_white.jpg?v=1605548791395" alt="Awesome Foundation logo">
      </a>
    </div>

  </div> <!-- end of #about-page -->

   {% include 'footer.liquid' %}



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {

      $("h1.home-title").click(function() {
        window.location.href= "/";
      });

      $("a[href^=http]").each(function() {
        let address = $(this).attr("href");
        if (address.indexOf("unlock") > -1) {
        } else {
          $(this).attr("target", "_blank");
          $(this).attr("rel", "noreferrer");
        }
      });

      $("h1, h2, h3").each(function() {
        let anchor = $(this).text();
        anchor = anchor.replace(/\?/g, '');
        anchor = anchor.replace(/\./g, '');
        anchor = anchor.replace(/\+/g, '');
        anchor = anchor.replace(/[0-9]/g, '');
        anchor = anchor.trim();
        anchor = anchor.replace(/\s+/g, '-').toLowerCase();
        $(this).attr("id", anchor);
      });

      let currentAddress = window.location.href;
      if (currentAddress.indexOf("#") > -1) {
        let anchor = window.location.hash;
        anchor = anchor.replace("#", "");
        console.log(anchor);
        let dimension = $("#" + anchor).offset().top;
        $("body, html").animate({
          scrollTop: dimension - 100
        });
      }

      $("a[href^='#']").click(function(e) {
        e.preventDefault();
        let anchor = $(this).attr("href").replace("#", "");
        let dimension = $("#" + anchor).offset().top;
        $("body, html").animate({
          scrollTop: dimension - 100
        });
      });

      if ($(window).width() > 700) {
        $("div#bios-grid div.bio-wrapper").hover(function() {
          $(this).toggleClass("hover-bio");
          let theBio = $(this).find("div.bio-content").html();
          $("div#bio-hover").html(theBio);
          $("div#bio-hover").show();
          $("div#bio-hover").css("opacity", 1);
        });
        $("div#bio-wrap-grid").mouseleave(function() {
          $("div#bio-hover").css("opacity", 0).delay(1000).hide();
        });
        $("div#leaders-grid div.bio-wrapper").hover(function() {
          $(this).toggleClass("hover-bio");
          let theBio = $(this).find("div.bio-content").html();
          $("div#leaders-hover").html(theBio);
          $("div#leaders-hover").show();
          $("div#leaders-hover").css("opacity", 1);
        });
        $("div#leaders-wrap-grid").mouseleave(function() {
          $("div#leaders-hover").css("opacity", 0).delay(1000).hide();
        });

        // sticky menu
        $(window).scroll(function() {
          let windowHeight = $(window).height() - 72;
          if ($(window).scrollTop() > windowHeight) {
            $("#menu").fadeIn("fast");
            $("#menu").addClass("sticky");
          } else {
            $("#menu").fadeOut("fast");
          }
        }) // end scroll function
      }

      $("#mobile-menu").click(function() {
        $("#menu").fadeToggle("fast");
      });

      $(window).resize(function() {
        if($(window).width() > 700) {
        // sticky menu
        $(window).scroll(function() {
          windowHeight = $(window).height() - 83;
          if ($(window).scrollTop() > windowHeight) {
            $("#menu").addClass("sticky");
          } else {
            $("#menu").removeClass("sticky");
          }
        }); // end scroll function
        } else {
          $(window).scroll(function() {
            $("#menu").hide();
            $("#menu").removeClass("sticky");
          });
        }

      });
    });
  </script>
  </body>

</html>
