@font-face {
  font-family: "Intro Rust";
  src: url("https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FIntroRust-Base.otf");
  src: url("https://raw.githubusercontent.com/UnlockNYC/unlock-nyc-web/main/assets/b185c63a-8d27-412b-b4cb-047ca0c8de79_IntroRust-Base.otf")
    format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Mono:wght@200;300;400;600&display=swap");


body {
  background-color: White;
  color: Black;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

h1 {
  font-family: "Intro Rust", "Courier New", sans-serif;
  font-size: 45px;
  line-height: 1.2em;
  box-sizing: border-box;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

h1.home-title {
  font-size: 105px;
  line-height: 0.9em;
  padding: 0;
  margin: 0;
  margin-bottom: 20px !important;
}

h2.home-subtitle {
  font-size: 22px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0;
  margin: 0;
  max-width: 212px;
}

h2.home-info {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.1em;
  max-width: 80%;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

#menu {
  width: 100%;
  background-color: #23296a;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #ff63dc; /*was magenta #f023c2; changed for accessibility contrast*/
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  z-index: 100;
}

#menu.sticky {
  position: fixed;
  top: 0;
  bottom: initial;
  max-height: 80px;
}

#menu ul {
  list-style-type: none;
}

#menu ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 50px;
  text-transform: uppercase;
  transition: 200ms all;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

#menu ul li#donate {
  position: absolute;
  right: 0;
  top: 18px;
  padding: 10px 20px;
  background-color: #efc02a;
  color: black;
}

#menu ul li a {
  color: inherit;
  text-decoration: none;
}

#menu ul li:hover {
  border-bottom: 1px dotted #f023c2;
}

#menu ul li#donate:hover {
  background-color: #56c79b !important;
}

#menu ul li a i.fab:hover {
  color: White;
}

#mobile-menu {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 15px;
  padding-left: 30px;
  background-color: #23296a;
  color: #ff63dc;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  z-index: 100;
}
#mobile-menu img {
  width: 30px;
  vertical-align: bottom;
  margin-right: 10px;
}

/*footer*/

footer {
  width: 100%;
  padding: 55px;
  background-color: White;
  color: Black;
  border-bottom: 20px solid #ffb400;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
}

footer p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 300;
  font-size: 16px;
}

footer p a {
  color: inherit;
  text-decoration: none;
}

footer p a:hover {
  border-bottom: 1px dotted Black;
}

footer div#footer-right {
  text-align: right;
}

/*home top banner sizing*/

@media only screen and (max-width: 1350px) {
  section#top #key-friend {
    width: 250px;
    left: 25%;
  }
  section#top #crowd-friends {
    width: 210px;
  }
  section#top #titles {
    max-width: 23%;
  }
}

/*smaller screens*/

@media only screen and (max-width: 1200px) and (min-width: 700px) {
  #menu ul {
    padding-left: 2%;
  }
  #menu ul li {
    font-size: 18px;
    margin-left: 2%;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  section#top #top-bg {
    transform: scale(0.9);
    transform-origin: 100% 100%;
    width: 110%;
  }
  section#top #titles {
    max-width: 50%;
  }
  h2.banner-text {
    font-size: 22px !important;
  }
  #menu ul li {
    font-size: 15px;
    margin-right: 12px;
    margin-left: 8px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1150px) {
  h1.home-title {
    font-size: 75px;
  }
}

@media only screen and (max-height: 850px) and (max-width: 1400px) and (min-width: 700px) {
  h1.home-title {
    font-size: 75px;
  }
}

/*tablet portraits*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  section#top #top-bg {
    width: 110%;
  }
}

/*mobile*/

@media only screen and (max-width: 700px) {
  #mobile-menu {
    display: block;
  }
  #menu {
    position: relative;
    bottom: 0;
    display: none;
  }
  #menu ul {
    padding-left: 10px;
  }
  #menu ul li {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px dotted #f023c2;
  }
  #menu ul li#donate {
    position: initial;
    right: initial;
    top: initial;
    padding: 8px 20px;
    background-color: #efc02a;
    color: black;
  }

  h1 {
    font-size: 7vw;
  }
  h1.home-title {
    font-size: 12vw;
  }

  footer {
    padding: 30px;
    padding-bottom: 80px;
    display: block;
  }

  footer p {
    font-size: 14px;
  }

  footer div#footer-right {
    text-align: left;
    margin-top: 20px;
  }
}
